.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
  max-width: 100%;
  height: 80px;
}

.header .header__icon {
  width: 100px;
  object-fit: contain;
  margin-left: 80px;
}
.header__center {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: fit-content !important;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 999px;
}
.header__center > input {
  border: none;
  outline: 0;
  padding: 10px;
  /* width:250px; */
}
.header__right {
  display: flex;
  align-items: center;
  width: 15vw;
  justify-content: space-between;
  margin-right: 80px;
}
